.button{
  border: none;
  background: var(--primary);
  color: var(--white);
  padding-inline: 1.5rem;
  padding-block: 0.8125rem;
  border-radius: 4px;
  text-transform: uppercase;
  font: var(--button);
  text-decoration: none;
  text-align: center;
}

.button.is-secodary{
  background: unset;
  border: 2px solid var(--primary);
  color: var(--primary);
}