.hero{
  padding-block-start: 16px;
}

.hero-image img{
  text-align: center;
  max-width: 100%;
  block-size: auto;
}

.hero-description{
  display: flex;
  flex-direction: column;
  gap: 16px;
}



.hero h1{
  font: var(--headline3);
  margin: 0;
}

.hero h1 span:nth-of-type(1){
  font: var(--headline5);
  display: block;
}

.hero p{
  color: var(--primary);
  font: var(--body1);
}

@media screen and (min-width: 768px) {
  .hero{
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    justify-content: space-between;
  }
  .hero-description{
    max-inline-size: 450px;
  }

  
  
} 

@media screen and (min-width: 1024px) {
  .hero-image img{
    inline-size: 500px;
    block-size: 504px;
  }
}